.container {
  .registration {
    font-family: "Ms Madi";
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
