// Specific CSS for your home-page

.banner-home {
 h1 {
  font-size: 70px !important;
  color: black !important;
}
height: 210px !important;
}

.btn-yellow{
  background-color: rgb(199, 165, 31);
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: bolder;
  margin: 20px;
}

.btn-yellow:hover{
  background-color: rgb(122, 101, 17);
  color: white;
}
