// Specific CSS for your home-page
body {
  background-color: white;
  margin-bottom: 150px;
  clear: both;
}

.banner {
  margin-top: 70px;

  h1 {
    font-size: 80px;
    color: rgb(9, 1, 1);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Ms Madi";
  }

  h2 {
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: 200;
  }

  .btn-yellow {
    background-color: #c7a51f;
    color: white;
    text-decoration: none;
    margin-top: 60px;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 200;
  }
}

.btn-yellow:hover {
  background-color: rgb(122, 101, 17);
  color: white;
}

.card {
  align-items: center;
  justify-content: center;
  border: none;

  img {
    width: 115px;
    margin-top: 0;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.card-img-top {
  width: fit-content;
  justify-content: center;
}

.text {
  h2 {
    font-family: "Poppins";
    font-size: 25px;
    margin: 50px 0 17px 0;
    font-weight: 200;
    color: black;
    text-align: center;
    background-color: white;
  }
}

.categories {
  display: flex;
  justify-content: center;

  .filter-yellow:hover {
    filter: invert(61%) sepia(96%) saturate(367%) hue-rotate(9deg)
      brightness(89%) contrast(92%);
  }

  .btn {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 14px;

    img {
      width: 100px;
      margin-top: 30px;
    }
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .categories {
    flex-wrap: wrap;
  }
  .banner {
    h1 {
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .categories {
    flex-wrap: wrap;

    .btn img {
      width: 90px;
      margin-top: 30px;
    }

    .btn img:hover {
      margin-top: 30px;
      fill: #c7a51f;
    }
  }
}
