.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 130%;
  border-radius: 30px;
  height: 500px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.show-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 30px;
}

.card-pet-info, .card-owner-info, .card-about-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.cards {
  display: flex;
  // align-items: centre;
  flex-direction: column;
  width: 700px;
  margin-left: 30px;
  margin-right: 20px;
  // margin-left: 50px;
  // align-items: stretch;
}

.cards h1 {
  font-size: 20px;
  font-weight: 100;
}

.cards h2 {
  font-size: 15px;
}

.checked {
  color: orange;
}

.leader {
  font-size: 15px;
  font-weight:900;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.card-pet-info, .card-owner-info, .card-about-info {
  width: 130%
}



.fs-5 {
  font-size: 10px;
  background-color: #c6c5c5;
  border-color: aliceblue;
}
