<%# <% @pets.each do |pet| %>
<%# <div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "puppy.jpeg", alt: "pets_picture", width:100 %>
      <%# <div class="container">
      <h4><b><%= link_to pet.name, pet_path(pet) %></b></h4>
      <%# </div>
    </div>
  </div>
</div> %>
<%# <% end %>


<div class="container-fluid container py-3 mt-4">
  <h2 class="h3">Become our friends!</h2>
  <div class="petcard">
    <% @pets.each do |pet| %>
      <div class="mt-4">

          <div class="card mb-3">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*" class="card-img-top" alt="...">
              <div class="card-body">
                <h5><%= link_to pet.name, pet_path(pet) %></h5>
              </div>
          </div>

      </div>
    <% end %>
  </div>
</div>
