<%# <% @pets.each do |pet| %> %>
<%# <div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "puppy.jpeg", alt: "pets_picture", width:100 %>
      <%# <div class="container">
      <h4><b><%= link_to pet.name, pet_path(pet) %>
      <%# </div>
    </div>
  </div>
</div> %>
<%# <% end %>

<div class="card-group">
  <% @pets.each do |pet| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      </div>
    </div>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>
    </div>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
       Breakfast
      </div>
    </div>
  <% end %>
</div>
