<div class="container">
  <h1 class="bookings-title text-center mt-4">My Pet Bookings</h1>
    <% @bookings.each do |booking| %>
    <div class="each-booking">
      <li class="text-center text-decoration-none"><strong>Name:</strong> <%= link_to booking.pet.name, pet_path(booking.pet) %> <br> <strong>Date:</strong> <%= booking.start_date %> - <%= booking.end_date %></li>
    </div>
  <% end %>
</div>
