<div class="container">
  <h1 class="book-title">Book a pet</h1>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit", class: "btn btn-primary text-white btn-submit" %>
  <% end %>
</div>
