.navbar-lewagon{
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse{
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  width: 40px;
}

#navbarDropdown{
  margin-right: 10px;
  width: 55px;
  height: 55px;
}

.nav-link{
  margin-right: 10px;
  margin-top: 7px;
  font-weight: 900;
}
