.container {
  .new-pet {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  #pet_category {
    font-size: 14px;
  }

  h1 {
    font-family: "Ms Madi";
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
  }

  .add-btn {
    display: flex;
    justify-content: center;
  }

  .form-label {
    font-size: 14px;
  }
}
