.review-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: auto;
    text-align: center;
    // border-radius: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    margin: 40 px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.h1 {
  text-align: center;
}
