.display {
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-ar;
  .image-box {
    width: 30%;
    background-color: rgb(255, 255, 255);
    img {
      width: 50%;
    }
  }
  .content-box{
    width: 30%;
    background-color: red;
    a {
      // position:static;
    }

  }
}



// .review-row {
//   display: flex;
//   justify-content: space-between;
//   // width: 90%;
//   // height:100%;
//   margin-top: 30px;
//   margin-right: 20px;
//   margin-left: 30px;
//   // flex-direction: row;
// }

// .review-card {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     // width: 95%;
//     margin: auto;
//     text-align: center;
//     // border-radius: 20px;
//     padding: 5px;
//     background-color: rgb(255, 255, 255);
//     margin: 5 px;
//     margin-top: 20px;
//     margin-bottom: 20px;
// }


// h1 {
//   text-align: center;
// }

// .ratings-col {
//   display:flex;
//   flex-direction: column;
//   margin: auto;
//   text-align: center;
//   background-color: rgb(255, 255, 255);
//   max-width: 40%;
// }

// .profile-col {
//   border-color: black;
//   // width: 30%;
//   margin: auto;
//   text-align: center;
//   background-color: rgb(255, 255, 255);
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   margin: auto;
//   text-align: center;
//   padding: 5px;
//   background-color: rgb(255, 255, 255);
//   // max-width: 50%;
