.display {
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .image-box {
    width: 30%;
    background-color: rgb(255, 255, 255);

    img {
      width: 50%;
    }
  }
  .content-box {
    width: 30%;
    background-color: red;
  }
}
