.show-container {
  display: flex;
  margin-top: 30px;
  gap: 20px;

  .pet-name {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 200;
    margin-top: 0px;
  }
}

.banner-pet {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  height: 600px;
  border-radius: 30px;
  position: relative;
}

.banner-pet h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: 200;
  font-family: "Poppins";
  position: absolute;
  top: 17px;
  width: 100%;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
}

.btn-flat-play {
  color: white;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 4px;
  background: #c7a51f;
  transition: background 0.3s ease;
  bottom: 20px;
  position: absolute;
  left: 340px;
  font-weight: 200;
}

.btn-flat-play:hover {
  background: #4a3b09;
  color: white;
}

.btn-flat {
  color: white;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 4px;
  background: #c7a51f;
  transition: background 0.3s ease;
  position: absolute;
}

.btn-flat:hover {
  background: #4a3b09;
  color: white;
}

.map-review-container {
  display: flex;
  margin-top: 40px;
  gap: 20px;

  .mapboxgl-map {
    width: 828px;
    height: 400px;
  }

  h2 {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }

  .reviews {
    margin: 0px 125px;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    flex-direction: column;

    h2 {
      font-family: "Poppins";
      font-size: 15px;
      font-weight: 400;
    }

    p {
      font-weight: 200;
    }
  }

  .review-card {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

.card-pet-info,
.card-owner-info,
.card-about-info {
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins";

  .btn-primary {
    font-size: 15px;
    background-color: #c7a51f;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
  }
}

.pet-content {
  display: flex;
  font-family: "Poppins";
  flex-direction: column;
  width: 700px;
  padding: 25px 0px;
}

.cards h1 {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 100;
  margin-bottom: 5px;
}

.cards {
  h2 {
    font-size: 15px;
    font-family: "Poppins";
    margin-bottom: 5px;
    margin: 5px;
  }
}

.checked {
  color: orange;
}

.leader {
  font-size: 15px;
  background-image: linear-gradient(to left, #404946, #1b191e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;

  h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #c89b1e;
  }

  h2 {
    font-size: 15px;
    color: #4a3b09;
  }
}

.card-about-info {
  .btn-primary {
    font-size: 15px;
    background-color: #c7a51f;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .show-container {
    flex-wrap: wrap;

    .pet-content {
      padding-top: 5px;
    }
  }

  .map-review-container {
    flex-wrap: wrap;
    margin: 0;

    .address {
      padding: 0;
      margin: 0;
    }

    .reviews {
      margin: 0 auto;
      padding-top: 30px;
    }
  }

  .banner-pet {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    width: 100%;
    height: 350px;
    border-radius: 30px;
    position: relative;
  }

  .btn-flat-play {
    left: 50%;
    transform: translateX(-50%);
  }

  .mapboxgl-map {
    width: 368px !important;
    height: 200px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .show-container {
    flex-wrap: wrap;

    .pet-content {
      padding-top: 5px;
    }
  }

  .banner-pet {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    width: 100%;
    height: 550px;
    border-radius: 30px;
    position: relative;
  }

  .btn-flat-play {
    left: 50%;
    transform: translateX(-50%);
  }

  .mapboxgl-map {
    width: 700px !important;
    height: 400px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .map-review-container {
    flex-wrap: wrap;
    margin: 0;

    .address {
      padding: 0;
      margin: 0;
    }

    .reviews {
      margin: 0 auto;
      padding-top: 50px;
    }
  }
}
