.container {
  .book-title {
    font-size: 45px;
    font-family: "Ms Madi";
    text-align: center;
    margin-top: 80px;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    font-size: 15px;
  }
}
